<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <caching>
            <profiles>
                <add extension=".jpg, .css, .js, .html" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="14:00:00:00" />
            </profiles>
        </caching>

        <staticContent>
		 <clientCache cacheControlMaxAge="30.00:00:00" cacheControlMode="UseMaxAge"/>
		</staticContent>
    </system.webServer>
</configuration>
